@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
}

.header-section-container {
  width: 1920px;
  height: 850px;
  background-color: rgba(218, 137, 155, 0.1);
  margin: 0 auto;
  padding: 50px 240px 0px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text-container {
  width: 708px;
  height: 506px;
}
.header-title {
  width: 750px;
  height: 288px;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
}
.header-description {
  font-size: 18px;
  font-weight: 400px;
  margin-top: 32px;
  color: rgba(39, 39, 39, 0.6);
  text-align: left;
}
.header-btn {
  padding: 20px 43px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(229, 84, 115);
  border: 0;
  border-radius: 8px;
  margin-top: 32px;
}
.header-image-container {
  width: 635px;
  height: 800px;
}
/* feature section styles */
.feature-text-content h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  color: rgb(39, 39, 39);
  margin-bottom: 22px;
}
.feature-text-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
}
.feature-text-content {
  width: 594px;
  height: 132px;
}
.feature-text-container {
  display: flex;
  justify-content: center;
  margin-top: 178px;
  margin-bottom: 48px;
}
.feature-img-container {
  width: 1440px;
  height: 538px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 4px;
}

.img1 {
  width: 31%;
  height: 538px;
  background-color: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
}
.img2 {
  width: 31%;
  height: 538px;
  background-color: rgba(5, 151, 160, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
}
.img3 {
  width: 31%;
  height: 538px;
  background-color: rgba(71, 125, 17, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
}
.flower1,
.flower2,
.flower3 {
  color: rgb(39, 39, 39);
  font-size: 24px;
  font-weight: 700;
  width: 32%;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flower-caption-container {
  width: 1440px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.service-section {
  width: 1440px;
  height: 320px;
  background-color: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
  margin-top: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service1,
.service2,
.service3 {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hot-deal-section {
  width: 1922px;
  height: 620px;
  background-color: rgba(229, 84, 115, 0.05);
  margin-top: 128px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.deal-img-container {
  width: 318px;
  height: 420px;
}

.deal-text {
  width: 594px;
  height: 228px;
}
.deal-text h2 {
  font-size: 40px;
  font-weight: 800;
}
.deal-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  margin-top: 24px;
}
#off {
  color: rgb(229, 84, 115);
}
.sign-up-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: 0;
  border-radius: 8px;
  background-color: rgb(229, 84, 115);
  color: white;
  padding: 20px 43px;
  margin-left: 34%;
  margin-top: 4%;
}
.deal-img-container {
  position: relative;
  right: 145px;
}
/* insta section styles */
.insta-section-text-container {
  display: flex;
  justify-content: center;
  margin-top: 128px;
}
.insta-section-text {
  text-align: center;
  width: 594px;
  height: 132px;
  border: 2px solid maroon;
}
.insta-section-text h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: rgb(39, 39, 39);
}
.insta-section-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
}
.insta-section-image-container {
  width: 1440px;
  height: 398px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 45px;
}
/* form section styles */
.form-section {
  width: 1440px;
  height: 449px;
  border: 2px solid red;
  margin: 0 auto;
  margin-top: 128px;
  background-image: url("../Flower Asset/Rectangle\ 9.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-section-container {
  width: 866px;
  height: 206px;
  border: 2px solid red;
}
.form-section-container h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: rgb(39, 39, 39);
  text-align: center;
}
.form-section-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
}
#form {
  width: 700px;
  height: 64px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  font-size: 18px;
  border-radius: 10px;
  border: 0;
  padding: 20px;
}
.form-holder {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.subscribe-btn {
  background-color: rgb(229, 84, 115);
  border-radius: 8px;
  width: 150px;
  height: 64px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.footer-section {
  width: 1922px;
  height: 449px;
  background-color: rgb(17, 16, 16);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content {
  width: 625px;
}
.footer-content h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  color: rgb(229, 84, 115);
  text-align: center;
}
.shop {
  color: rgb(255, 255, 255);
}
.footer-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.footer-content h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-top: 35px;
}
