@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  box-sizing: border-box;
}

.header-section-container {
  width: 1920px;
  height: 850px;
  background-color: rgba(218, 137, 155, 0.1);
  margin: 0 auto;
  padding: 50px 240px 0px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text-container {
  width: 708px;
  height: 506px;
}
.header-title {
  width: 750px;
  height: 288px;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
}
.header-description {
  font-size: 18px;
  font-weight: 400px;
  margin-top: 32px;
  color: rgba(39, 39, 39, 0.6);
  text-align: left;
}
.header-btn {
  padding: 20px 43px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(229, 84, 115);
  border: 0;
  border-radius: 8px;
  margin-top: 32px;
}
.header-image-container {
  width: 635px;
  height: 800px;
}
/* feature section styles */
.feature-text-content h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: center;
  color: rgb(39, 39, 39);
  margin-bottom: 22px;
}
.feature-text-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
}
.feature-text-content {
  width: 594px;
  height: 132px;
}
.feature-text-container {
  display: flex;
  justify-content: center;
  margin-top: 178px;
  margin-bottom: 48px;
}
.feature-img-container {
  width: 1440px;
  height: 538px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 4px;
}

.img1 {
  width: 31%;
  height: 538px;
  background-color: rgba(167, 33, 98, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
}
.img2 {
  width: 31%;
  height: 538px;
  background-color: rgba(5, 151, 160, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
}
.img3 {
  width: 31%;
  height: 538px;
  background-color: rgba(71, 125, 17, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% 50% 0 0;
}
.flower1,
.flower2,
.flower3 {
  color: rgb(39, 39, 39);
  font-size: 24px;
  font-weight: 700;
  width: 32%;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flower-caption-container {
  width: 1440px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
